@model IEnumerable<Locatic.Web.Models.Reservation>

@{
    ViewData["Title"] = "Réservations";
}

<h1 style="color: white">Liste des réservations</h1>

<p>
    <a asp-action="Create" class="btn" style="background-color: green; color: white;">
        Nouvelle réservation
    </a>
</p>

<table class="table" style="color: white">
    <thead>
        <tr>
            <th style="color: white">Client</th>
            <th style="color: white">Voiture</th>
            <th style="color: white">Date début</th>
            <th style="color: white">Date fin</th>
            <th style="color: white">Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var r in Model)
    {
        <tr style="color: white">
            <td>@r.Client.Prenom @r.Client.Nom</td>
            <td>@r.Voiture.Modele.Marque.Nom @r.Voiture.Modele.Nom - @r.Voiture.Immatriculation</td>
            <td>@r.DateDebut.ToShortDateString()</td>
            <td>@r.DateFin.ToShortDateString()</td>
            <td>
                <a asp-action="Delete" asp-route-id="@r.Id" style="color: white">Supprimer</a>
            </td>
        </tr>
    }
    </tbody>
</table>